.module-title {
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  margin: 20px;
  border: 0.25px solid lightgray;
  line-height: 40px;
}

.title:hover {
  background-color: rgb(214, 233, 255);
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.lesson-list:hover {
  background-color: rgb(214, 233, 255);
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.lesson-list {
  border-bottom: 0.25px solid lightgray;
  text-decoration: none;
  line-height: 20px;
}

.lesson-text {
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.lesson-text:hover {
  color: gray;
  text-decoration: none;
}
