.module-title {
  cursor: pointer;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  margin: 20px;
  margin-top:25px;
  line-height: 25px;
  color: rgb(69, 69, 69);
  /* background-color: #FF6451; */
  border: none;
  box-shadow: 0px 0px 5px #8e8e8e;
}

.title:hover {
  background-color: #A4DADD;
  color: white;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.lesson-list:hover {
  background-color: #A4DADD;
  color: white;
  transition-property: background-color;
  transition-timing-function: ease;
  transition-duration: .2s;
}

.lesson-list {
  background-color: white;
  border-bottom: 0.25px solid lightgray;
  text-decoration: none;
  line-height: 20px;
}

.lesson-text {
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.lesson-text:hover {
  color: gray;
  text-decoration: none;
}

.unit-number {
  font-size: 10px;
  line-height: 11px;;
}

.unit-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lesson-count {
  font-size: 11px;
  margin: 0px;
  padding: 0px;
}

.arrow {
  float: right;
  margin: 0px;
  padding: 0px;
  display: none;
  color: rgb(247, 247, 247);
  line-height: 2px;
  font-size: 10px;
}


