.submission {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  background-color: rgb(247, 247, 247);
  margin-top: 50px;
}

.work-button {
  font-size: 18px;;
}

.submission-header {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 20px;
}