.nav {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  border-bottom: 0.5px solid rgb(226, 219, 218);
  height: 50px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 12px;
}

.nav-icons {
  width: 27vw;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 35px;
  height: 35px;
}
.dash {
  width: 27px;
}

.messages {
  width: 25px;
  height: 27px;
}
